extends layout

block content
    div.w3-top
        div.w3-center.w3-padding-16.w3-xlarge
            h1 AUCTION

        div.w3-main.w3-content.w3-padding(style='max-width:1200px;margin-top:100px')
            div.w3-row-padding.w3-padding.w3-center(id='pictures')
                each picture in pictures
                    div.w3-quarter
                        a(href='picture/'+picture.id style="width:100%")
                            img(src=picture.url style="width:100%")
                        h1= picture.name
                        p= picture.description