body {
  padding: 20px;
  font-family: "Karma", sans-serif;
  overflow-x: auto;
}
h1 {
  font-size: 30px;
  font-family: monospace;
}
a {
  color: #00B7FF;
}
td,
th {
  font-family: monospace;
  border: 1px solid #999;
  padding: 0.65rem;
  text-align: center;
  font-size: 1.9vh;
}
table {
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}
.td_h {
  border: 1px solid #999;
  padding: 1rem;
  font-size: 2.4vh;
}
.td_empty {
  border: 0px solid #999;
}
.td_light {
  padding: 0.1rem;
  border: 0px solid #999;
  font-size: 2.4vh;
  width: 100px;
  height: 45px;
}
.td_man {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border: 0px solid #999;
  font-size: 2.4vh;
  height: 85px;
}
.get_button {
  font-family: monospace;
  font-size: 1.9vh;
  width: 90%;
  height: 90%;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.man_button {
  font-family: monospace;
  font-size: 1.9vh;
  width: 100%;
  height: 85%;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  background-color: #e7ffe7;
  width: 28rem;
  border-radius: 0.5rem;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.scroll_gallery {
  white-space: nowrap;
  height: 660px;
}
.slide {
  width: 960px;
  height: 540px;
}
.leftbox {
  width: 350px;
  height: 100%;
  display: inline-block;
}
.scrollable {
  overflow-y: auto;
}
.sold {
  font-family: monospace;
  font-size: 2.7vh;
  color: azure;
  font-weight: bold;
}
